In [1]:
import pandas as pd

In [2]:
call_data = pd.read_csv(r'C:\Users\Sarah\Documents\DAFT_NOV_21_01\module_2\Lab_18_Dasboards_in_Excel_Google_Sheets\Call_data.csv')

In [4]:
hierarchy = pd.read_csv(r'C:\Users\Sarah\Documents\DAFT_NOV_21_01\module_2\Lab_18_Dasboards_in_Excel_Google_Sheets\Hierarchy.csv')

In [5]:
targets = pd.read_csv(r'C:\Users\Sarah\Documents\DAFT_NOV_21_01\module_2\Lab_18_Dasboards_in_Excel_Google_Sheets\Targets.csv')

In [6]:
call_data.head()

,YR_MO,CALL_DATE,AGENT_KEY,CALLS,HANDLE_TIME,CALL_REGEN,CALLS_WITH_OFFER,CALLS_WITH_ACCEPT,CALLS_OFFER_APPLIED,TRANSFERS
0,201706,2017-06-01,12465,34,25710,5,31,22,19,2
1,201706,2017-06-01,12466,35,25039,4,34,29,26,2
2,201706,2017-06-01,12467,38,24436,6,36,32,28,3
3,201706,2017-06-01,12468,38,24923,5,37,32,25,2
4,201706,2017-06-01,12469,34,24371,4,32,25,22,2

In [7]:
hierarchy.head()

,AGENT_KEY,EFF_DT,TERM_DT,AGENT_ID,AGENT_NAME,TEAM_LEAD_ID,TEAM_LEAD_NAME,CALL_CENTER
0,12465,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg
1,12466,2017-05-01,2020-12-31,201700122,"Binning, Bart",201700011,"Winnerson, Aceona",Williamburg
2,12467,2017-05-01,2020-12-31,201700123,"Centerville, Cece",201700011,"Winnerson, Aceona",Williamburg
3,12468,2017-05-01,2020-12-31,201700124,"Davenport, Davina",201700011,"Winnerson, Aceona",Williamburg
4,12469,2017-05-01,2020-12-31,201700125,"Edgerton, Ethan",201700011,"Winnerson, Aceona",Williamburg

In [8]:
targets.head()

    YR_MO            METRIC   TARGET
0  201706               AHT  780.000
1  201706        CALL_REGEN    0.167
2  201706         TRANSFERS    0.082
3  201706  APPLIED_PER_CALL    0.505
4  201706          BREAKAGE    0.201

In [18]:
merged = call_data.merge(hierarchy, on='AGENT_KEY', how='outer')

In [19]:
merged

,YR_MO,CALL_DATE,AGENT_KEY,CALLS,HANDLE_TIME,CALL_REGEN,CALLS_WITH_OFFER,CALLS_WITH_ACCEPT,CALLS_OFFER_APPLIED,TRANSFERS,EFF_DT,TERM_DT,AGENT_ID,AGENT_NAME,TEAM_LEAD_ID,TEAM_LEAD_NAME,CALL_CENTER
0,201706,2017-06-01,12465,34,25710,5,31,22,19,2,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg
1,201706,2017-06-02,12465,37,24506,4,34,27,19,3,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg
2,201706,2017-06-04,12465,38,25249,5,35,27,23,2,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg
3,201706,2017-06-05,12465,32,24019,3,29,23,17,2,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg
4,201706,2017-06-06,12465,36,24810,6,33,25,20,2,2017-05-01,2020-12-31,201700121,"Anderson, Albert",201700011,"Winnerson, Aceona",Williamburg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1520,201708,2017-08-16,12490,32,25345,7,30,20,14,4,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg
1521,201708,2017-08-28,12490,28,24324,8,25,16,10,3,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg
1522,201708,2017-08-29,12490,31,25197,8,27,18,10,3,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg
1523,201708,2017-08-30,12490,33,24633,10,30,19,10,4,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg
1524,201708,2017-08-31,12490,29,24662,6,27,19,10,3,2017-07-15,2020-12-31,201700136,"Pulaski, Peter",201700013,"Oferten, Quinton",Williamburg

In [22]:
merged.to_excel(r'C:\Users\Sarah\Documents\IronSarah\labs\module 2\lab18\merged.xlsx')

In [25]:
metrics=pd.read_excel(r'C:\Users\Sarah\Documents\DAFT_NOV_21_01\module_2\Lab_18_Dasboards_in_Excel_Google_Sheets\Metrics.xlsx')

In [26]:
metrics

,Metric,Definition,Formula
0,Calls Handled,Inbound call taken by an agent,Sum of Calls Handled
1,Avg Handle Time (or AHT),Average time to complete a call,Handle Time / Calls Handled
2,Transfer %,Percent of calls that resulted in a transfer out,Transfers / Calls Handled
3,Offer %,Percent of offers made on a call,Calls with an Offer / Calls Handled
4,Accept %,Percent of accepts on offers made,Calls with an Accept / Calls with an Offer
5,Applied %,Percent of applieds on accepted offers,Calls with an Applied / Calls with an Accept
6,Breakage,Percent of calls where an offer was not applied,(Calls with an Accept - Calls with an Applied)...
7,Applied Per Call,Percent of calls that had an applied offer,Calls with an Applied / Calls Handled
8,Callback within 2 Days,Percent of calls where customer called back wi...,Call Regen / Calls Handled