# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [82]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [83]:
# your code here
admissions_predict = pd.read_csv(r"C:\Users\Sarah\Documents\DAFT_NOV_21_01\module_1\Lab_29_1\Admission_Predict.csv")
admissions_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [84]:
# your code here
admissions_predict.columns = [column.strip(' ') for column in admissions_predict.columns]
admissions_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Let's evaluate the dataset by looking at the `head` function.

In [85]:
# your code here
admissions_predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [86]:
# your code here
admissions_predict.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [87]:
# your code here
admissions_predict.set_index(['Serial No.'], inplace=True)

In [88]:
admissions_predict

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [89]:
# your code here
admissions_predict['GRE-CGPA']= admissions_predict['GRE Score'].apply(str) + ' ' + admissions_predict['CGPA'].apply(str)

In [90]:
admissions_predict['GRE-CGPA'].duplicated().any()
# returns False so no duplicates

False

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [91]:
# your code here
admissions_predict.reset_index(inplace=True)

In [92]:
admissions_predict.drop(["level_0","index"], axis=1, inplace=True)

KeyError: "['level_0' 'index'] not found in axis"

In [93]:
admissions_predict

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE-CGPA
0,1,337,118,4,4.5,4.5,9.65,1,0.92,337 9.65
1,2,316,104,3,3.0,3.5,8.00,1,0.72,316 8.0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,322 8.67
3,4,314,103,2,2.0,3.0,8.21,0,0.65,314 8.21
4,5,330,115,5,4.5,3.0,9.34,1,0.90,330 9.34
...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,324 9.04
381,382,325,107,3,3.0,3.5,9.11,1,0.84,325 9.11
382,383,330,116,4,5.0,4.5,9.45,1,0.91,330 9.45
383,384,312,103,3,3.5,4.0,8.78,0,0.67,312 8.78
384,385,333,117,4,5.0,4.0,9.66,1,0.95,333 9.66

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [94]:
# your code here
CGPA9= (admissions_predict['CGPA']>9) & (admissions_predict['Research']==1)
admissions_predict[CGPA9]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE-CGPA
0,1,337,118,4,4.5,4.5,9.65,1,0.92,337 9.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90,330 9.34
10,11,328,112,4,4.0,4.5,9.10,1,0.78,328 9.1
19,20,328,116,5,5.0,5.0,9.50,1,0.94,328 9.5
20,21,334,119,5,5.0,4.5,9.70,1,0.95,334 9.7
...,...,...,...,...,...,...,...,...,...,...
379,380,329,111,4,4.5,4.0,9.23,1,0.89,329 9.23
380,381,324,110,3,3.5,3.5,9.04,1,0.82,324 9.04
381,382,325,107,3,3.0,3.5,9.11,1,0.84,325 9.11
382,383,330,116,4,5.0,4.5,9.45,1,0.91,330 9.45
384,385,333,117,4,5.0,4.0,9.66,1,0.95,333 9.66

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [95]:
# your code here

filtered = admissions_predict[(admissions_predict['CGPA']>=9) &  (admissions_predict['Research']==1)]
filtered['Chance of Admit'].mean()

0.885865384615385

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [96]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    # your code here
    column = col - col.mean()/col.std()
    return column

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [97]:
# your code here
filtered['CGPA_std']=standardize(filtered['CGPA'])
filtered.head()

C:\Users\Sarah\AppData\Local\Temp/ipykernel_10584/4236855811.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['CGPA_std']=standardize(filtered['CGPA'])

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE-CGPA,CGPA_std
0,1,337,118,4,4.5,4.5,9.65,1,0.92,337 9.65,-27.883001
4,5,330,115,5,4.5,3.0,9.34,1,0.90,330 9.34,-28.193001
9,10,327,111,4,4.0,4.5,9.00,1,0.84,327 9.0,-28.533001
10,11,328,112,4,4.0,4.5,9.10,1,0.78,328 9.1,-28.433001
19,20,328,116,5,5.0,5.0,9.50,1,0.94,328 9.5,-28.033001

In [98]:
filtered['GRE_std']=standardize(filtered['GRE Score'])
filtered['LOR_std']=standardize(filtered['LOR'])

admissions_predict.head()

C:\Users\Sarah\AppData\Local\Temp/ipykernel_10584/184679810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['GRE_std']=standardize(filtered['GRE Score'])
C:\Users\Sarah\AppData\Local\Temp/ipykernel_10584/184679810.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['LOR_std']=standardize(filtered['LOR'])

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE-CGPA
0,1,337,118,4,4.5,4.5,9.65,1,0.92,337 9.65
1,2,316,104,3,3.0,3.5,8.00,1,0.72,316 8.0
2,3,322,110,3,3.5,2.5,8.67,1,0.80,322 8.67
3,4,314,103,2,2.0,3.0,8.21,0,0.65,314 8.21
4,5,330,115,5,4.5,3.0,9.34,1,0.90,330 9.34

We will generate the decision choice at random using the code below. Please run the cell.

In [99]:
# Libraries
from random import choices

In [100]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

admissions_predict['decision_choice'] = choices(std_columns, k=admissions_predict.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [101]:
# your code here
admissions_predict['decision_value']= admissions_predict.lookup(admissions_predict.index, admissions_predict['decision_choice'])
admissions_predict

C:\Users\Sarah\AppData\Local\Temp/ipykernel_10584/1384201514.py:2: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.
  admissions_predict['decision_value']= admissions_predict.lookup(admissions_predict.index, admissions_predict['decision_choice'])

KeyError: 'LOR_std'

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [102]:
# your code here
admissions_predict['decision']= np.where(admissions_predict['decision_value']> 0.8, 1, 0) 
admissions_predict

KeyError: 'decision_value'

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [103]:
# your code here
admissions_predict['decision'].value_counts()
#143 applicants admitted

KeyError: 'decision'

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [104]:
# your code here
cols=list(admissions_predict.columns)
admissions_predict.columns = [col.replace(' ','_').lower().replace('[#,@,&,.]', '') for col in cols]
admissions_predict.columns

Index(['serial_no.', 'gre_score', 'toefl_score', 'university_rating', 'sop',
       'lor', 'cgpa', 'research', 'chance_of_admit', 'gre-cgpa',
       'decision_choice'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [105]:
# your code here
admissions_predict['gre_score']=np.where(admissions_predict['university_rating']>=4, admissions_predict['gre_score']+10,admissions_predict['gre_score'])
admissions_predict

,serial_no.,gre_score,toefl_score,university_rating,sop,lor,cgpa,research,chance_of_admit,gre-cgpa,decision_choice
0,1,347,118,4,4.5,4.5,9.65,1,0.92,337 9.65,LOR_std
1,2,316,104,3,3.0,3.5,8.00,1,0.72,316 8.0,LOR_std
2,3,322,110,3,3.5,2.5,8.67,1,0.80,322 8.67,GRE_std
3,4,314,103,2,2.0,3.0,8.21,0,0.65,314 8.21,GRE_std
4,5,340,115,5,4.5,3.0,9.34,1,0.90,330 9.34,CGPA_std
...,...,...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82,324 9.04,LOR_std
381,382,325,107,3,3.0,3.5,9.11,1,0.84,325 9.11,LOR_std
382,383,340,116,4,5.0,4.5,9.45,1,0.91,330 9.45,GRE_std
383,384,312,103,3,3.5,4.0,8.78,0,0.67,312 8.78,GRE_std
384,385,343,117,4,5.0,4.0,9.66,1,0.95,333 9.66,LOR_std